langchain 
langchain_community 
pypdf
unstructured 
pdf2image 
pdfminer 
chromadb 
langchain_openai 
pillow_heif 
unstructured_inference 
pytesseract
pikepdf
langchainhub
fastapi
uvicorn[standard]
langgraph